<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title>标题自己写</title>
  <link rel="stylesheet" href="css/yuanmei.css" />
</head>
<body>
<div id="vue-filter">
            <div id="searchBar">
                Search <input type="text" v-model="searchQuery" />
            </div>
            <simple-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery">
            </simple-grid>
        </div>

        <template id="grid-template">
            <table>
                <thead>
                    <tr>
                        <th v-for="col in columns">
                            {{ col}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in filterEntry">
                        <td v-for="col in columns">
                            {{entry[col]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
<script src="js/vue.js"></script>
<script>

 Vue.component('simple-grid', {
            template: '#grid-template',
            props: {
                data: Array,
                columns: Array,
                filterKey: String
            },
            computed:{
              filterEntry:function(){
                var self = this;
                if(self.filterKey === ""){
                  return self.data;
                }else{
                  return self.data.filter(function(user){
                    return user.name.indexOf(self.filterKey) !== -1 || user.age.toString().indexOf(self.filterKey) !== -1 || user.sex.indexOf(self.filterKey) !== -1;
                  });
                }
                
              }
            }
        })

        var demo = new Vue({
            el: '#vue-filter',
            data: {
                searchQuery: '',
                gridColumns: ['name', 'age', 'sex'],
                gridData: [{
                    name: 'Jack',
                    age: 30,
                    sex: 'Male'
                }, {
                    name: 'Bill',
                    age: 26,
                    sex: 'Male'
                }, {
                    name: 'Tracy',
                    age: 22,
                    sex: 'Female'
                }, {
                    name: 'Chris',
                    age: 36,
                    sex: 'Male'
                }]
            }
        })
</script>
</body>
</html>



